* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header h1 {
    text-align: center;
    font-size: 80px;
    color: maroon;
    font-family: cursive;
    cursor: pointer;
}


header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}
header:hover{
    background-color:yellowgreen;
}*/
header{
    background-color: rgba(255, 254, 254, 0.726);
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav:hover{
    background-color: navy;
}


nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
nav a:hover{
    background-color: crimson;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
    
}
section h4 {
     width: 35%;
     margin-left: 32%;
    
}

.a{
   margin-left: 10%;
    width: 80%;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
.banner{
    background-image: url(./5.png);
    height: 20vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-attachment: scroll;
}
@media screen and (max-width:600px){
    nav{
        flex-direction:column ;
    }
}